.block-bootstrap-menu .navbar .navbar-inner {
  padding: 0;
  background: none;
  border: none;
  -webkit-box-shadow: black 0 0 0;
  -moz-box-shadow: black 0 0 0;
  box-shadow: black 0 0 0;
}

.block-bootstrap-menu .navbar .navbar-inner .btn-navbar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.block-bootstrap-menu .navbar .navbar-inner ul.bootstrap-menu li {
  margin: 0;
}

.block-bootstrap-menu .navbar .navbar-inner ul.bootstrap-menu li a.active, .block-bootstrap-menu .navbar .navbar-inner ul.bootstrap-menu li a:hover, .block-bootstrap-menu .navbar .navbar-inner ul.bootstrap-menu li a:focus {
  background: none;
  -webkit-box-shadow: black 0 0 0;
  -moz-box-shadow: black 0 0 0;
  box-shadow: black 0 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* Remove text shadow */
.block-bootstrap-menu .navbar .nav li a {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/* Remove active and active-trail style */
.block-bootstrap-menu .navbar .nav li.active a.dropdown-toggle,
.block-bootstrap-menu .navbar .nav li.active a.dropdown-toggle:focus{
  background: transparent;
  -webkit-box-shadow: black 0 0 0;
  -moz-box-shadow: black 0 0 0;
  box-shadow: black 0 0 0;
}

/* Reset submenu links style */
.block-bootstrap-menu .navbar .nav li a,
.block-bootstrap-menu .navbar .nav li a:hover,
.block-bootstrap-menu .navbar .nav li a.active,
.block-bootstrap-menu .navbar .nav li a.active:hover{
  color: #555555;
}

.block-bootstrap-menu ul.dropdown-menu{
  min-width: inherit;
}
